<form method="post" action="?class=Form&method=salvar">
    <div>
        <label for="marca">Marca:</label>
        <input type="text" name="marca" id="marca" required maxlength="50">
    </div>
    <div>
        <label for="modelo">Modelo:</label>
        <input type="text" name="modelo" id="modelo" required maxlength="50">
    </div>
    <div>
        <label for="motor">Motor:</label>
        <input type="text" name="motor" id="motor" required maxlength="50">
    </div>
    <div>
        <button type="submit">Salvar</button>
    </div>
</form>